* {
    /* outline: red dashed 2px; */
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 31, 29);


}

header h1 {
    height: 76%;
    background-color: lightblue;
    padding-left: 40px;
    height: 50px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a {
    display: inline;
    color: lightblue;
    font-size: 20px;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.hero {
    background-image: url(./images/lights-strip-color-range-wallpaper-preview.jpg);
    height: 375px;
    width: 100%;


}

.avatar {

    width: 600px;
    height: 600px;
}

div p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: rgb(17, 110, 163);
    max-width: 86%;
    padding-left: 25px;
    padding-top: 10px;
}

article {
    padding-left: 25px;
}

main article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 75%;
}

main article a {
    flex-basis: 48%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    border: 5px solid lightblue;
    margin: 5px;
    filter: contrast(45%);
}

.horiseon {
    flex-basis: 100%;
    min-height: 300px;
    background-image: url('./images/digital-marketing-meeting.jpg');
}

.weather-app {
    background-image: url('./images/rainnnn.avif');
}

.Bookies {
    background-image: url(./images/Bookies-Bank.png);
    background-size:cover;
    background-position-y: 20%;
}

.to-do-list {
    background-image: url(./images/to\ do\ list\ pic.jpg);
}

.music-player {
    background-image: url(./images/dj\ img.jpg);
}

section h2 {
    border-right: 5px solid lightblue;
    margin-right: 30px;
    color: rgb(17, 110, 163);
    text-align: right;
    padding-right: 20px;
    margin: 10px 50px 10px 100px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}
#about-me h2 {
    padding-left: 25px;
}
#work h2 {
    padding-left: 48px;
}

section {
    display: flex;
}
 a {
    display: flex;
    flex-wrap: wrap;
}
a div {
     background-color: lightblue;
     min-height: 40px;
     max-height: 60px;
     max-width: 170px;
     flex-basis: calc(50% - 1em);
     padding: 0px 0px 20px 0px;
     margin: 0.5em;
     
     
}
article a{
    display: flex;
    align-items: end;
    text-decoration: none;
    
}

h3 {
    display: flex;
    align-items: end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    color: black;
}



#work a:hover {
    filter:none;
 } 


.contacts {
    font-size: 20px;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightblue;
    align-items: center;


}

.contacts a {
    display: flex;
    flex-direction: row;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(17, 110, 163);
    align-items: center;
    margin: 0 90px 0 50px;

}

main footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    

}

@media screen and (max-width: 1400px) {
     main article a {
        flex-basis: 100%;
        max-height: 20%;
     } 

     section {
        display: flex;
        flex-direction: column;
        
    }
    section h2 {
        border-right: none;
        border-bottom: 5px solid lightblue;
        text-align: left;
        padding-top: 30px;
        
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    h1 {
        width: 80%;
        display: flex;
        justify-content: center;
        padding-right: 41px;
        align-items: start;
    }
    p {
        margin-left: 150px;
        margin-right: 60px;
    }
    #work a {
        margin-left: 150px;
    }
    #contact-me a {
        margin-left: 150px;
    }
    .avatar {
        height: 400px;
        width: 400px;
    }
}

@media screen and (max-width: 770px) {
    #contact-me a {
        display: flex;
        text-align: center;
        margin-left: 200px;
        padding-top: 30px;
    }
}

@media screen and (max-width: 680px) {
    h3 {
        font-size: 22px;
    }
}

@media screen and (max-width: 450px) {
    main {
        padding-right: 60px;
    }
    

     section {
        display: flex;
        flex-direction: column;
        
    }
    section h2 {
        border-right: none;
        border-bottom: 5px solid lightblue;
        text-align: left;
        
        
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-right: 30px;
        
    }
    
    h1 {
        width: 80%;
        display: flex;
        justify-content: center;
        padding-right: 50px;
        align-items: start;
    }
    .hero {
        padding-right: 30px;
    }
    p {
        margin-left: 62px;
        width: 90%;
    }
    h3 {
        font-size: 17px;
    }
    #work a {
        width: 100px;
        margin-left: 100px;
    }
    #contact-me a{
        display: flex;
        text-align: center;
        margin-left: 70px;
        padding-top: 30px;
    }
    
}